<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyagiabhinav.dialogflowchatlibrary" >

    <application>
        <activity android:name=".database.ui.activity.NotesListActivity" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>
